
%%inherit(file="page_layout.haml")

%%def(name="body()")
 
  %script
    if('${logged_in}' === 'True') 
      window.logged_in = true;
    else
      window.logged_in = false;

    function getPageDefaults() { 
      return {
        link_title:     "${page.link_title}",
        new_link_title: "${page.link_title}",
        title:          "${page.title}",
        subtitle:       "${page.subtitle}",
        type:           "${page.type}",
        content:        "${page.content}"
      }
    }

  .subnav
    %ul.nav.nav-pills.pull-right 
      %li
        %span.page-last-saved-time.if-logged-in

      %li.dropdown
        %a.dropdown-toggle(dataToggle="dropdown") 
          Pages
          %b.caret
        %ul.pages-nav-list.dropdown-menu
          %li
            %a#add-button(href="#") New Page
          %li.divider
          
      %li
        %a#preview-button.if-edit-mode 
          Preview
      %li
        %a#fullscreen-button.if-custom-page.if-edit-mode
          Fullscreen
      -# %li
      -#   %a#cancel-button(href="/pages") Cancel
      %li.active
        %a#save-button.if-edit-mode
          Save
      %li.active
        %a#edit-button.if-logged-in.if-view-mode
          Edit

  .if-view-mode.if-not-logged-in
    %h1.page-title.if-not-custom-page
    %h2.page-subtitle.if-not-custom-page
    .page-content

  .if-edit-mode.if-logged-in
    .form-horizontal
      %fieldset
        %input.page-link-title-original(type="hidden")
        .control-group
          %label.control-label Link Title:
          .controls
            %input.page-link-title(type="text")
            %p.help-block The title used in menus, links and the page's URL
        .control-group
          %label.control-label Page Type:
          .controls
            %select.page-type
              %option(value="custom") Custom
              %option(value="blog") Blog
              %option(value="contact") Contact
        .if-not-custom-page
          .control-group
            %label.control-label Title
            .controls
              %input.input-xlarge.page-title(value="${page.title}")
          .control-group
            %label.control-label Subtitle
            .controls
              %input.input-xlarge.page-subtitle(value="${page.subtitle}")
        .if-custom-page
          .control-group
            %label.control-label 
              %h1 ${page.link_title}: 
            .controls
              #epiceditor
              -# %textarea.page-content(rows=18, cols=80)= page.content

  #confirm-change-link-title-modal.modal.hide
    .modal-header
      %button.close(dataDismiss="model") &times;
      %h3 Confirm Changes.
    .modal-body
      If you change the link title, any URLs for this page already out there will need to be updated. Do you want to continue saving?
    .modal-footer
      %a.btn.btn-cancel(href="#", dataDismiss="modal") Nevermind!
      %a.btn.btn-primary.btn-confirm(href="#") No big deal.
    
      





